@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: fit-content;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: #FAFBEF;

    flex-direction: column;
}


.container1{
    background-image: url(assets/back-img.png );

    background-size: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;

    min-height: 100vh;

}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s linear;

    position: fixed;
    top: 0;
    z-index: 1000;
}

.header.back{
    background: #FAFBEF;
    transition: 0.5s linear;
    border-bottom: solid black 1px;

}

.header.back a{
    color: #000;
    transition: 0.5s linear;
}

.header.back .centr-nav{
    opacity: 1;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    padding: 0 5rem;

}

.centr-nav{
    opacity: 0;
    padding-left: 1.5rem;
}

.centr-nav a{
    color: #000;
    font-family: 'Inknut Antiqua';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-left: -2.5rem;
}

.left-nav, .right-nav{
    display: flex;
    gap: 1.5rem;
}

a{
    text-decoration: none;
}

.left-nav a, .right-nav a{
    
    color: #FFF;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-title{
    width: auto;
}

.main-title__name{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 19rem;
    /* margin-left: 40rem; */
    width: auto;
}

h1{
    color: #FFF;
    font-family: "Inknut Antiqua", sans-serif;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container2{
    background: #FAFBEF;
    width: 100%;
    min-height: 100vh;

}

.description{
    display: flex;
    flex-direction: column;
    padding: 8rem 1rem 0 5rem;
    gap: 6rem;
}

.description__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}

.description__info p:nth-child(2){
    color: #000;
    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vertical{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #000;
    font-family: 'Inknut Antiqua';
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    }

h2{
    color: #000;
    font-family: 'JetBrains Mono';
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container3, .container4, .container5{
    /* min-height: 100vh; */
    background: #FAFBEF;
    width: auto;

}

.container3, .town{
    height: 650px;
}


.container3 img{
    /* margin-top: 8rem; */
    width: 100%;
    position: relative;
}

.container3 span{
    color: #FAFBEF;
    font-family: 'JetBrains Mono';
    font-size: 9.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    bottom: 9.6875rem;
    left: 3.125rem;
}

/* КОСТЯ */

.description-excursion{
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10rem 1rem 0 5rem;
}

.ourExcursion {
    width: auto;
    font-family: "JetBrains Mono", sans-serif;
    
}

.ourExcursion .container h2 {
    font-size: 2.2rem;
}

.ourExcursion__excursions {
    margin-top: 4rem;
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.excursion {
    cursor: pointer;
    border: 1px solid black;
    transition: 0.5s ease;
}

.excursion:hover {
    transform: scale(1.07);
}

.excursion img {
    width: 385px;
    height: 350px;
}

.excursion__text {
    width: auto;
    padding: 0.7rem 1.3rem;
}

.excursion__text h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.excursion__text p {
    margin-top: 0.65rem;
    font-size: 0.75rem;
    font-weight: 400;
}

.excursion__more {
    width: auto;
    margin-top: 3rem;
    border-top: solid 1px black;
    padding: 0.5rem 1.3rem;
    display: flex;
    justify-content: space-between;
}

.excursion__more p {
    font-size: 1rem;
}

.excursion__more p:hover {
    color: rgb(159, 159, 0);
}

.excursion__more p a{
    color: #000;
}

.excursion__more p a:hover {
    color: rgb(159, 159, 0);
}

.user {
    width: auto;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
}

.user img{
    margin-left: 2.4rem;
}

.user p{
    padding: 0;
    margin: 0;

    color: #000;
    text-align: center;
    font-family: 'JetBrains Mono';
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: -0.0255rem;

    border-radius: 99px;
    border: 1px solid #000;

    padding: 1px 5px;
}

.excursion__text .user img {
    margin-top: -30px;
    border-radius: 1000px;
    width: 70px;
    height: 70px;
    border: 5px solid #FAFBEF;
}

.container6{
    width: auto;
    background: #FAFBEF;
}

.calendar {
    width: auto;
    font-family: "JetBrains Mono", sans-serif;
}

.calendar-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description-calendar{
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10rem 1rem 5rem 5rem;
}

.calendar .container h2 {
    font-size: 2.2rem;
}

.calendar__days {
    margin-top: 2rem;
}

.calendar__days a {
    text-decoration: none;
    color: black;
    font-size: 1.43rem;
    border: solid 1px black;
    padding: 0.25rem 1.813rem;
    transition: 0.5 ease;
}

.calendar__days a:hover {
    background-color: #D7DAB4;
}


.calendar__days a:nth-child(6) {
    background-color: #D7DAB4;
}

.calendar__day {
    width: auto;
    margin-top: 3rem;
    font-family: "Playfair Display", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.day__events {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    /* margin-right: 12rem; */

}

.events__top,
.events__bottom {
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
}

.day__date {
    padding: 2rem;
    /* border-right: solid 1px black; */
}

.day__date p {
    font-size: 2rem;
}

.day__date p:nth-child(2),
.day__date p:nth-child(3) {
    font-size: 4rem;
    font-weight: 600;
}

.event {
    background-color: #D7DAB4;
    border-radius: 10px;
    padding: 0.313rem 2.125rem;
}

.event__text {
    margin-left: 13rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.3rem;
}

.event__more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event__more-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}

.event__text p:nth-child(1) {
    font-size: 1.75rem;
}

.event__text p:nth-child(2) {
    font-size: 3rem;
}

.event__text p:nth-child(3) {
    margin-top: 2rem;
    font-size: 0.875rem;
}

.event__text p:nth-child(4) {
    font-size: 1.25rem;
}

.event__text p:nth-child(5) {
    font-size: 0.875rem;
}

.event__more p {
    font-size: 1.25rem;
}

.event__more-left p {
    font-size: 1rem;
}

.event__more-left p:nth-child(1) {
    font-size: 1.5rem;
}

/* ГЛЕБ */

hr{
    width: 100%;
}

footer{
    background: #000;
    color: white;
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: auto;
}

footer a{
    color: white;
}

footer p{
    font-family: 'Times New Roman', sans-serif;
}

footer .foot-up, .foot-down{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.foot-down{
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.foot-down p{
    text-align: right;
}

footer .phone, .email, .tg, .vk{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    font-size: 1rem;
}

@media screen and (min-widt: 500px) {
    .container1{
        width: 100%;
        background-size: cover;
    }
    
}